@import url('https://fonts.googleapis.com/css2?family=Muli:wght@700&display=swap');
body {
	margin: 0;
	background: #ffffd5;
	font-family: 'Muli', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #e63e1a;
 -moz-box-shadow: 0 0 10px black;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 53px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: yellow;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: white;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.top-container {
  display: grid;
  grid-gap: 0px;
  grid-template-areas:
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';

}

/* Showcase */
.showcase {
  grid-area: showcase;
  min-height: 400px;
  background: #333;
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: top;
  box-shadow: var(--shadow);
}

.showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: #ffffd5;
}

.showcase p {
  font-size: 1.3rem;
  margin-top: 0;
  color: #ffffd5;
   text-align: justify;
}

/* Top Box */
.top-box {
  background: var(--primary);
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow);
  padding: 1.5rem;
}


.top-box .price {
  font-size: 2.5rem;
}

.top-box-a {
  grid-area: top-box-a;
   background: #009bfb;
}

.top-box-b {
  grid-area: top-box-b;
    background: #fb8400;
}

 .top-box:hover
{
  -moz-box-shadow: 0 0 10px black;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
  transform: scale(1.3);
}

.oke{
margin-left: 300px;
}


.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.navbar {
  background-color: #e63e1a;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}
}

.content {
}

.different {
  display: grid;
  grid-gap: 0px;
  grid-template-areas:
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
}

.different h2 {
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: -28px;
  color: #ffffd5;
  margin-right: 40px
}

.different p {
  font-size: 1.3rem;
  margin-top: 0;
  color: #333;
   text-align: justify;
padding: 20px
}



.showdown {
margin-top: 20px;
  grid-area: showcase;
  height: 320px;
background:  #ffffd5;
  background-position: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: top;
  box-shadow: var(--shadow);
 -moz-box-shadow: 0 0 10px black;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
}

.showdown p {
margin-top: -4px;

}



